<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="footer-menu-block">
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Прайс</a>
                    </li>
                    <li>
                        <a href="#">Установка</a>
                    </li>
                    <li>
                        <a href="#">Гарантии</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="footer-menu-block">
                    <li>
                        <a href="#">Памятники</a>
                    </li>
                    <li>
                        <a href="#">Цоколя</a>
                    </li>
                    <li>
                        <a href="#">Плитка</a>
                    </li>
                    <li>
                        <a href="#">Оградки</a>
                    </li>
                    <li>
                        <a href="#">Столики</a>
                    </li>
                    <li>
                        <a href="#">Лавочки</a>
                    </li>
                    <li>
                        <a href="#">ВАЗЫ</a>
                    </li>
                    <li>
                        <a href="#">Цветники</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="footer-menu-block">
                    <li>
                        <a href="#">КОРЗИНА</a>
                    </li>
                    <li>
                        <a href="#">Панель управления</a>
                    </li>
                    <li>
                        <a href="#">Личные данные</a>
                    </li>
                    <li>
                        <a href="#">Адресная книга</a>
                    </li>
                    <li>
                        <a href="#">История заказов</a>
                    </li>
                    <li>
                        <a href="#">История посещений</a>
                    </li>
                    <li>
                        <a href="#">Выйти из системы</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="footer-menu-block">
                    <li>
                        <a href="#">Москва Долгопрудный</a>
                    </li>
                    <li>
                        <a href="#">info@ogradki.ru</a>
                    </li>
                    <li>
                        <a href="#">+ 7 495 799 50 06</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="text-center red copyright">© 2018. Разработка сайта xWork.site.</p>
        </div>
    </div>
</section>