<section class="header">
    <div class="container">
        <div class="row">
            <nav class="site-nav main-menu">
                <span class="navbar-toggle burger-menu burger-menu--main" data-toggle="collapse" data-target="#responsive-main-menu">
                    &#9776;
                </span>
                <ul class="nav navbar-nav navbar-left collapse navbar-collapse" id="responsive-main-menu">
                    <li>
                        <a href="#" class="active">главная</a>
                    </li>
                    <li>
                        <a href="#!">о нас</a>
                    </li>
                    <li>
                        <a href="#!">прайс</a>
                    </li>
                    <li>
                        <a href="#!">установка</a>
                    </li>
                    <li>
                        <a href="#!">гарантии</a>
                    </li>
                    <li>
                        <a href="#!">отзывы</a>
                    </li>
                    <li>
                        <a href="#!">контакты</a>
                    </li>
                    <li class="entry">
                        <a href="#" class="red">вход</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-md-push-4 col-xs-12 logo">
                <a href="#">
                    <img src="img/logo.png" alt="Angel" class="logo-main">
                </a>
            </div>
            <div class="col-md-4 col-md-pull-4 col-xs-12 contacts">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope red"></span>
                        <a href="mailto:info@ogradki.ru">info@ogradki.ru</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone red"></span>
                        <a href="tel:+74957995006">+ 7 495 799 50 06</a>
                    </li>
                    <li class="clearfix"></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12 form-group">
                <div class="wrapper">
                    <div class="input-group search">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn--red btn-search" type="button">
                                <span class="glyphicon glyphicon-search white"></span>
                            </button>
                        </span>
                    </div>

                    <div class="input-group shopping-cart">
                        <div class="form-control"></div>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn--red btn-shopping-cart" type="button">
                                <span class="glyphicon glyphicon-shopping-cart white"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <nav class="site-nav products">
                    <span class="navbar-toggle burger-menu burger-menu--products" data-toggle="collapse" data-target="#responsive-products-menu">
                        &#9776;
                    </span>
                    <ul class="nav navbar-nav navbar-left collapse navbar-collapse" id="responsive-products-menu">
                        <li>
                            <a href="#!">цоколя</a>
                        </li>
                        <li>
                            <a href="#!">плитка</a>
                        </li>
                        <li class="drop">
                            <a href="#!">памятники
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#" role="menuitem" tabindex="-1">вертикальные</a>
                                </li>
                                <li>
                                    <a href="#" role="menuitem" tabindex="-1">горизонтальные</a>
                                </li>
                                <li>
                                    <a href="#" role="menuitem" tabindex="-1">с крестом</a>
                                </li>
                                <li>
                                    <a href="#" role="menuitem" tabindex="-1">двойные</a>
                                </li>
                                <li>
                                    <a href="#" role="menuitem" tabindex="-1">элитные</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">оградки</a>
                        </li>
                        <li>
                            <a href="#!">столики</a>
                        </li>
                        <li>
                            <a href="#!">лавочки</a>
                        </li>
                        <li>
                            <a href="#!">вазы</a>
                        </li>
                        <li>
                            <a href="#!">цветники</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
    <div class="hr-red"></div>
</section>