<section class="catalogue">
    <div class="container">
        <div class="row">
            <div class="main-block">
                <div class="row">
                    <div class="introduction">
                        <h2>Элитные памятники из гранита</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">Памятники </a>
                            </li>
                            <li class="active">
                                Элитные памятники из гранита
                            </li>
                        </ol>
                        <p>
                            Элитные памятники на могилу — дорогие и нестандартные надгробия, привлекающие внимание своим великолепием и необычностью
                            конструкции.
                        </p>

                    </div>
                </div>

                <p class="bold text-center">
                    <span>сортировать по: </span>
                    <span class="sort-tab-active">наименованию </span>
                    <span>(возр/убыв)</span>
                </p>
                <div class="row row-pagination">
                    <nav aria-label="Page navigation" class="cemeteries-pagination">
                        <ul class="pagination tab-menu trigger-target">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="page-active">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">все</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="hr-grey"></div>
                <div class="row cemeteries">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_1">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_2">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_3">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_4">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_5">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_6">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_7">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cemeteries-card">
                        <h5 class="cemeteries-card-title text-center">Памятник на могилу
                            <br> (33-146)</h5>
                        <div class="cemeteries-card-image monument-card-image_8">
                            <p class="add-info text-center">Размер от 100х50х8 см. Гранит. Полировка 5 сторон.</p>
                        </div>
                        <div class="hidden-btn">
                            <p class="price text-center">42400
                                <span class="currency">руб.</span>
                            </p>
                            <button type="submit" class="btn btn-new btn-default text-center">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hr-grey"></div>
                <div class="row row-pagination">
                    <nav aria-label="Page navigation" class="cemeteries-pagination">
                        <ul class="pagination tab-menu trigger-target">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="page-active">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">все</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <p class="bold text-center">
                    <span>сортировать по: </span>
                    <span class="sort-tab-active">наименованию </span>
                    <span>(возр/убыв)</span>
                </p>

            </div>
            <!--main-block-->
        </div>
        <!--row-->
    </div>
    <!--container-->
    <div class="row-fluid">
        <div class="hr-red"></div>
    </div>
    <div class="container">
        <div class="row additional">
            <div class="col-md-5">
                <p class="additional-left">
                    Элитные надгробия представлены в нашей гранитной мастерской в большом ассортименте — различной формы, размера и сложности
                    исполнения. Их создают из одного вида материала или с использованием сразу двух пород. Дорогие памятники
                    на могилу отражают черты характера покойного, сферу деятельности и другие особенности. Вы можете заказать
                    индивидуальный проект надгробия, которое изготовят наши мастера.
                </p>
            </div>
            <div class="col-md-2">
                <div class="frame-decor"></div>
            </div>
            <div class="col-md-5">
                <p class="additional-right">
                    Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях
                    не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской
                    Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг,
                    обращайтесь к менеджерам отдела продаж по телефону:
                    <span class="bold">+7 495 799 50 06.</span>
                </p>
            </div>
        </div>
    </div>
</section>