<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3 side-bar">
                <div class="basket side-bar-block">
                    <h3>корзина
                        <span class="glyphicon glyphicon-chevron-down" id="chevron-down-basket"></span>
                    </h3>
                    <div class="block-hidden basket-block-hidden">
                        <p class="text-center">В корзине:
                            <span class="items-number">2 товар(ов)</span>
                        </p>
                        <p class="text-center">На сумму:
                            <span class="sum">42 000 руб</span>
                        </p>
                        <button class="order">
                            <span class="glyphicon glyphicon-list-alt"></span> Оформить заказ</button>
                    </div>
                </div>
                <!--basket-->
                <div class="news side-bar-block">
                    <h3>новости</h3>
                    <div class="news-block">
                        <p class="date">01.07.2018</p>
                        <h4>скоро открытие</h4>
                        <p>Открытие нашего сайта состоится в ближайшее время...</p>
                    </div>
                    <div class="news-block">
                        <p class="date">08.07.2018</p>
                        <h4>акционное предложение</h4>
                        <p>Первым десяти заказавшим — скидка на установку 30%...</p>
                    </div>
                </div>
                <!--news-->
                <div class="autorization side-bar-block">
                    <h3>авторизация
                        <span class="glyphicon glyphicon-chevron-down" id="chevron-down-autorization"></span>
                    </h3>
                    <div class="block-hidden autorization-block-hidden">
                        <form>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" placeholder="Логин">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                <input type="text" class="form-control" placeholder="Пароль">
                            </div>
                            <p class="registration text-center">
                                <a href="#" class="bold black">Забыли свой пароль?</a>
                                <br>
                                <a href="#" class="black">У вас нет аккаунта?</a>
                                <a href="#" class="bold black">Регистрация</a>
                            </p>

                            <button type="submit" class="btn btn-default text-center">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span>Войти</span>
                            </button>
                        </form>
                    </div>
                </div>
                <!--autorization-->
                <div class="statistics side-bar-block">
                    <h3>статистика</h3>
                    <p class="text-center">В магазине:
                        <span class="visitors-number bold">10</span> посетитель(ей)</p>
                    <p class="text-center">Просмотров за сегодня:
                        <span class="views-today bold">200</span>
                    </p>
                    <p class="text-center">Посетителей за сегодня:
                        <span class="visitors-today bold">200</span>
                    </p>
                    <p class="text-center">Всего просмотров:
                        <span class="views-all bold">200</span>
                    </p>
                    <p class="text-center">Всего посетителей:
                        <span class="visitors-all bold">200</span>
                    </p>
                </div>
                <!--statistics-->
            </div>
            <div class="col-md-9 main-block">
                <div class="introduction">
                    <h2>Добро пожаловать на сайт гранитной мастерской</h2>
                    <p>
                        Наша гранитная мастерская – одна из крупнейших и динамично развивающихся компаний на российском ритуальном рынке. Наличие
                        собственного производства позволяет избежать наценок, а соответственно мы предлагаем цены в разы
                        ниже, чем компании-перекупщики. Наш завод памятников предлагает и другие товары для оформления могильного
                        участка — ограды, столики, лавочки, вазы, цветники. Мы имеем огромный опыт в изготовлении мемориалов
                        любой сложности, а наша продукция пользуется стабильным спросом.
                    </p>
                    <p>
                        Основная цель нашей гранитной мастерской – сделать качественное и красивое надгробие на могилу, воплотив в реальность все
                        ваши пожелания и задумки. С нами работают только опытные профессионалы, ответственно и с пониманием
                        подходящие к своей работе. Мы добросовестно выполняем свои обязательства, получая взамен много положительных
                        отзывов.
                    </p>
                    <p>
                        Мы используюем в своей работе новейшие технологии и современное оборудование. В связи с этим сокращается время производства
                        надгробий, что позволяет выполнять больше заказов. Также, изделия могут иметь самую разную форму,
                        которая дополняется декоративным оформлением.
                    </p>
                    <p>
                        Наш магазин памятников предлагает клиентам более 1.500 моделей надгробий различной ценовой категории. Поэтому купить надгробие
                        на могилу может человек с любым доходом. Кроме того, на протяжении года у нас действуют различные
                        скидки и акции, проходят распродажи памятников, есть рассрочка на оплату. На изделия из натуральных
                        пород предоставляем гарантию до 30 лет.
                    </p>

                </div>
                <!--introduction-->
                <div class="cemeteries">
                    <h2>КЛАДБИЩА МОСКВЫ И МОСКОВСКОЙ ОБЛАСТИ</h2>
                    <p class="bold text-center">
                        <span>сортировать по: </span>
                        <span class="sort-tab-active">наименованию </span>
                        <span>(возр/убыв)</span>
                    </p>
                    <div class="row">
                        <nav aria-label="Page navigation" class="cemeteries-pagination">
                            <ul class="pagination tab-menu trigger-target">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="page-active">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>                                
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">все</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="hr-grey hr-grey--top"></div>
                    <div class="row cemeteries-gallery">
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Алабушевское
                                <br> кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_1">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Бусиновское
                                <br>кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_2">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Ваганьковское
                                <br> кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_3">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Ваганьковское
                                <br> кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_4">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Калитниковское
                                <br> кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_5">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 cemeteries-card">
                            <h5 class="cemeteries-card-title text-center">Черкизовское
                                <br>кладбище</h5>
                            <div class="cemeteries-card-image cemeteries-card-image_6">
                            </div>
                            <div class="hidden-btn">
                                <a href="#" class="btn-details text-center">подробнее</a>
                            </div>
                        </div>
                    </div>
                    <!--row -->
                    <div class="hr-grey hr-grey--bottom"></div>

                    <div class="row row-pagination">
                        <nav aria-label="Page navigation" class="cemeteries-pagination">
                            <ul class="pagination tab-menu trigger-target">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="page-active">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">все</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <p class="bold text-center">
                        <span>сортировать по: </span>
                        <span class="sort-tab-active">наименованию </span>
                        <span>(возр/убыв)</span>
                    </p>
                </div>
                <!--cemeteries-->
            </div>
            <!--main-block-->
        </div>
        <!--row-->
    </div>
    <!--container-->
    <div class="row-fluid">
        <div class="hr-red"></div>
    </div>
    <div class="container">
        <div class="row additional">
            <div class="col-md-5">
                <p>
                    Элитные надгробия представлены в нашей гранитной мастерской в большом ассортименте — различной формы, размера и сложности
                    исполнения. Их создают из одного вида материала или с использованием сразу двух пород. Дорогие памятники
                    на могилу отражают черты характера покойного, сферу деятельности и другие особенности. Вы можете заказать
                    индивидуальный проект надгробия, которое изготовят наши мастера.
                </p>
            </div>
            <div class="col-md-2">
                <div class="frame-decor"></div>
            </div>
            <div class="col-md-5">
                <p>
                    Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях
                    не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской
                    Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг,
                    обращайтесь к менеджерам отдела продаж по телефону: <span class="bold">+7 495 799 50 06.</span> 
                </p>
            </div>
        </div>
    </div>
</section>