body {
    font-family: 'montserrat-regular-webfont';
    font-size: 14px;
    font-weight: 300;  
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}   
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.right {
    float: right;
}
ul {
    list-style: none;
    padding: 0;
}
.invisible-el {
    display: none;
}
.red {
    color: $red;
}
.white {
    color: $white;
}
.black {
    color: $black;
}
.bold {
    font-weight: bold;
}
.btn--red {
    background: $red;
}
.hr-red {
    width: 100%;
    height: 6px;
    background: $red;
}
.search .btn-search:hover {
    background: $red;
}
.shopping-cart .btn-shopping-cart:hover {
    background: $red;
}
.middle {
    font-weight: 700;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4,
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7,
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12,
.col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
    background: rgba(255, 255, 255, 1);
}
.row {
    margin: 0;
}
.row.additional {
    margin: 0;
}
.clearfix {
    clear: both;
}
